# Ignore everything in repository root
/*
\#old/
\#archives/
\#previous/
*_cache/
*_files/
unnamed-chunk*
*.Rhistory
.Rproj.user
*.png
*.RData

# Files to not ignore
!/.gitignore
!/donnees
!/initiation
!/formation_R
!/perf
!/LICENSE
!/README.md
